{
    "policies": [
      {
        "id": "{{ 9999999999999999999999 | random | ansible.builtin.to_uuid }}",
        "label": "{{ ct_name }}",
        "description": "",
        "policy_type_name": "batch",
        "attributes": {
          "subpolicies": [
            "82a24994-38b8-4d88-928b-434bf01d7f76"
          ]
        },
        "visible": true,
        "user_data": "{\"isSausage\":true,\"positions\":{\"76484641-1612-4671-8b49-827f1e967c63\":[290,80,1]}}",
        "tags": []
      },
      {
        "id": "{{ 9999999999999999999999 | random | ansible.builtin.to_uuid }}",
        "label": "Virtual Network (Single)",
        "description": "Add a single VLAN to interfaces, as tagged or untagged.",
        "policy_type_name": "AttachSingleVLAN",
        "attributes": {
          "vn_node_id": "{{ vn_id }}",
          "tag_type": "{{ tag_type | default('vlan_tagged') }}"
        },
        "visible": false	
      },
      {
        "id": "{{ 9999999999999999999999 | random | ansible.builtin.to_uuid }}",
        "label": "Virtual Network (Single) (pipeline)",
        "description": "Add a single VLAN to interfaces, as tagged or untagged.",
        "policy_type_name": "pipeline",
        "attributes": {
          "first_subpolicy": "5d72345e-5c32-4562-81f4-f743cd5e036d",
          "second_subpolicy": null
        },
        "visible": false
      }
    ]
  }
