 {
    "operations": [
      {
        "path": "/delete-switch-system-links",
        "method": "POST",
        "payload": {
          "link_ids": [
            "leaf2<->TSTSANSL(link-000000001)[1]"
          ]
        }
      }
    ]
  }
